body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-image: url("../public/images/Draven_20.jpg");
  background-repeat: space;
  background-size: cover;
  height: 665px;
}

.searchbar {
  padding-top: 20px;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  padding: 20px;
  width: 500px;
  height: 550px;

  -webkit-box-shadow: 9px 11px 19px 5px rgba(0, 0, 0, 0.96);
  box-shadow: 9px 11px 19px 5px rgba(0, 0, 0, 0.96);
  color: rgb(141, 137, 137);
}

.card--icon {
  width: 200px;
  border-radius: 50%;
  margin: auto;
}

.card--champions {
  margin-left: auto;
  margin-right: auto;
}

.card--champion {
  width: 80px;
  border-radius: 50%;
  margin: 20px;
}

.card--tier {
  width: 150px;
}

.tippy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip--name {
  justify-content: center;
}
